{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row gx-0 mb-2">
    <div class="accueil col-12">
        <h2>AntoineBernabeu</h2>
        <p class="p1">Artiste peintre à chomérac, au coeur de l'Adèche</p>
        <button class="btn btn-primary">Decouvrir -></button>
    </div>
</div>
{% for peinture in peintures %}
<div class="card mb-3 w-50 mx-auto" >

    <div class="row g-0">
        <div class="col-md-6">
            <img src="{{asset('assets/images/fond1.jpg')}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{peinture.name}}</h5>
                <p class="card-text">{{peinture.description}}</p>
                
            </div>
        </div>
        </div>
    </div>
    
{% endfor %}
<h6 class="text-dark text-center fw-light display-6 my-3">Derniere Actualités</h6>
    <div class="row justify-content-center">
        {% for blogpost in blogposts %}
        <div class="col-2">
            <div class="card">
            <p>{{blogpost.titre}}</p>
            <div class="card-body">
                <h5 class="card-title">{{blogpost.contenu}}</h5>
                <p class="card-text"> publié le {{blogpost.datecreation | date("d/m/y")}}</p>
            </div>
            </div>
        </div>
            
        {% endfor %}
       
    </div>
  
    
    <style>
        .accueil{
            background-image: url({{asset('assets/images/fond2.jpg')}});
            background-repeat: no-repeat;
            background-size: cover;
             background-position: center;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        h2{
            color: white;
        }
        .p1{
            color: white;
            
        }
        
        button:hover{
            position: relative;
            bottom: 2px;
        }
    </style>
{% endblock %}
